.task_block{
	width: 180px;
	border: 1px solid #ccc;
	padding: 6px 12px 6px 12px;//顺时针
	border-radius: 16px;
}
.avatarGroup{
	transform-origin: 0 3px;
	//scale: 0.5;
	transform: scale(0.5);
	height: 20px;
}
.tagline{
	display: inline-flex;
	align-items: stretch;
}
.bottom{
	transform-origin: 0 100px;
	white-space: nowrap;
	display: inline-flex;
	align-items: stretch;
}
.menu{
	float:inherit;
	position: absolute;
	right: 10px;
	bottom: 15px;
}
.checkbox{
	padding-top: 4px;
	padding-right: 4px;
}
